In [50]:
import requests
import json
import pandas as pd
import datetime

In [51]:
url = (
    "https://wabi-us-gov-virginia-api.analysis.usgovcloudapi.net/public/reports/querydata"
)

In [52]:
params = (("synchronous", "true"), ("Connection", "keep-alive"))

In [53]:
headers = {
    "Host": "wabi-us-gov-virginia-api.analysis.usgovcloudapi.net",
    "Connection": "keep-alive",
    "Content-Length": "3199",
    "Pragma": "no-cache",
    "Cache-Control": "no-cache",
    "Accept": "application/json, text/plain, */*",
    "RequestId": "a71747f7-be8d-f0e8-6964-80c01e2af60b",
    "DNT": "1",
    "X-PowerBI-ResourceKey": "c7c36864-4c68-4836-a622-adddb1a61808",
    "Content-Type": "application/json;charset=UTF-8",
    "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36",
    "ActivityId": "0f5337d4-2c7c-82a9-294a-f2655624bb52",
    "Origin": "https://app.powerbigov.us",
    "Sec-Fetch-Site": "cross-site",
    "Sec-Fetch-Mode": "cors",
    "Sec-Fetch-Dest": "empty",
    "Referer": "https://app.powerbigov.us/",
    "Accept-Encoding": "gzip, deflate, br",
    "Accept-Language": "en-US,en;q=0.9,da;q=0.8",
}

In [54]:
proxies = {
  "http": None,
  "https": None,
}

In [55]:
body='{"version":"1.0.0","queries":[{"Query":{"Commands":[{"SemanticQueryDataShapeCommand":{"Query":{"Version":2,"From":[{"Name":"v","Entity":"BusinessOutBreaks","Type":0}],"Select":[{"Column":{"Expression":{"SourceRef":{"Source":"v"}},"Property":"Location: State/Province"},"Name":"VCPH_Workplaces - Outbreaks by (2).Location: State/Province"},{"Column":{"Expression":{"SourceRef":{"Source":"v"}},"Property":"Location: City"},"Name":"VCPH_Workplaces - Outbreaks by (2).Location: City"},{"Column":{"Expression":{"SourceRef":{"Source":"v"}},"Property":"Location: Street"},"Name":"VCPH_Workplaces - Outbreaks by (2).Location: Street"},{"Aggregation":{"Expression":{"Column":{"Expression":{"SourceRef":{"Source":"v"}},"Property":"Location: Account Name +"}},"Function":3},"Name":"Min(VCPH_Workplaces - Outbreaks by (2).Location: Account Name +)"},{"Column":{"Expression":{"SourceRef":{"Source":"v"}},"Property":"Location Type  ↑"},"Name":"VCPH_Workplaces - Outbreaks by (2).Location Type  ↑"},{"Aggregation":{"Expression":{"Column":{"Expression":{"SourceRef":{"Source":"v"}},"Property":"Exposure Event: Created Date"}},"Function":3},"Name":"Min(BusinessOutBreaks.Exposure Event: Created Date)"}]},"Binding":{"Primary":{"Groupings":[{"Projections":[0,1,2,3,5]}]},"Secondary":{"Groupings":[{"Projections":[4]}]},"DataReduction":{"DataVolume":4,"Primary":{"Top":{}},"Secondary":{"Top":{}}},"SuppressedJoinPredicates":[3,5],"Version":1}}}]},"CacheKey":"{\\"Commands\\":[{\\"SemanticQueryDataShapeCommand\\":{\\"Query\\":{\\"Version\\":2,\\"From\\":[{\\"Name\\":\\"v\\",\\"Entity\\":\\"BusinessOutBreaks\\",\\"Type\\":0}],\\"Select\\":[{\\"Column\\":{\\"Expression\\":{\\"SourceRef\\":{\\"Source\\":\\"v\\"}},\\"Property\\":\\"Location: State/Province\\"},\\"Name\\":\\"VCPH_Workplaces - Outbreaks by (2).Location: State/Province\\"},{\\"Column\\":{\\"Expression\\":{\\"SourceRef\\":{\\"Source\\":\\"v\\"}},\\"Property\\":\\"Location: City\\"},\\"Name\\":\\"VCPH_Workplaces - Outbreaks by (2).Location: City\\"},{\\"Column\\":{\\"Expression\\":{\\"SourceRef\\":{\\"Source\\":\\"v\\"}},\\"Property\\":\\"Location: Street\\"},\\"Name\\":\\"VCPH_Workplaces - Outbreaks by (2).Location: Street\\"},{\\"Aggregation\\":{\\"Expression\\":{\\"Column\\":{\\"Expression\\":{\\"SourceRef\\":{\\"Source\\":\\"v\\"}},\\"Property\\":\\"Location: Account Name +\\"}},\\"Function\\":3},\\"Name\\":\\"Min(VCPH_Workplaces - Outbreaks by (2).Location: Account Name +)\\"},{\\"Column\\":{\\"Expression\\":{\\"SourceRef\\":{\\"Source\\":\\"v\\"}},\\"Property\\":\\"Location Type  ↑\\"},\\"Name\\":\\"VCPH_Workplaces - Outbreaks by (2).Location Type  ↑\\"},{\\"Aggregation\\":{\\"Expression\\":{\\"Column\\":{\\"Expression\\":{\\"SourceRef\\":{\\"Source\\":\\"v\\"}},\\"Property\\":\\"Exposure Event: Created Date\\"}},\\"Function\\":3},\\"Name\\":\\"Min(BusinessOutBreaks.Exposure Event: Created Date)\\"}]},\\"Binding\\":{\\"Primary\\":{\\"Groupings\\":[{\\"Projections\\":[0,1,2,3,5]}]},\\"Secondary\\":{\\"Groupings\\":[{\\"Projections\\":[4]}]},\\"DataReduction\\":{\\"DataVolume\\":4,\\"Primary\\":{\\"Top\\":{}},\\"Secondary\\":{\\"Top\\":{}}},\\"SuppressedJoinPredicates\\":[3,5],\\"Version\\":1}}}]}","QueryId":"","ApplicationContext":{"DatasetId":"82fe8719-09b2-432f-beb1-86a79c585e4e","Sources":[{"ReportId":"7cbcb555-a5cc-4e58-8f08-c19d7b85bcb2"}]}}],"cancelQueries":[],"modelId":397144}'

In [56]:
json_data = json.loads(body)

In [57]:
response = requests.post(
    url,
    params=params,
    headers=headers,
    json=json_data,
    verify=False,
    proxies=proxies
)

/Users/sgreene/.local/share/virtualenvs/projects-pQzHlJTk/lib/python3.7/site-packages/urllib3/connectionpool.py:1020: InsecureRequestWarning: Unverified HTTPS request is being made to host 'wabi-us-gov-virginia-api.analysis.usgovcloudapi.net'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning,

In [58]:
data = response.json()

In [59]:
types = data["results"][0]["result"]["data"]["dsr"]['DS'][0]['SH'][0]['DM1']

In [60]:
groupings = []
for grouping in types:
    groupings.append(grouping['G3'])

In [61]:
ds = data["results"][0]["result"]["data"]["dsr"]["DS"][0]

In [62]:
state = ds["ValueDicts"]["D0"]

In [63]:
cities = ds["ValueDicts"]["D1"]

In [64]:
addresses = ds["ValueDicts"]["D2"]

In [65]:
names = ds["ValueDicts"]["D3"]

In [66]:
rows = ds["PH"][0]["DM0"]

In [67]:
rows[0]

{'S': [{'N': 'G0', 'T': 1, 'DN': 'D0'},
  {'N': 'G1', 'T': 1, 'DN': 'D1'},
  {'N': 'G2', 'T': 1, 'DN': 'D2'}],
 'C': [0, 0, 0],
 'X': [{'S': [{'N': 'M0', 'T': 1, 'DN': 'D3'}, {'N': 'M1', 'T': 7}],
   'C': [],
   'Ø': 3},
  {'I': 13, 'C': [0, 1610496000000]}]}

In [68]:
locations = []

for row in rows:
    keys = row.keys()

    cells = row['X']

    info = row['C']
        
    if "R" not in keys:

        state = info[0]
        address = info[1]
        city = info[2]
        
    elif row["R"] == 1:
        city = info[0]
        address = info[1]
    else:
        address = info[0]
    
    for cell in cells:
        cell_keys = cell.keys()
        
        if "S" not in cell_keys:
            name = cell['C'][0]
            print(cell)
            if "R" not in cell:
                timestamp = cell['C'][1]
            try:
                business_type = cell['I']
            except:
                business_type = 0
        else:
            print("skip")
        locations.append(
            (
                name,
                business_type,
                address,
                city,
                timestamp,
            )
        )

skip
{'I': 13, 'C': [0, 1610496000000]}
{'I': 12, 'C': [1, 1610409600000]}
{'I': 13, 'C': [2, 1610582400000]}
{'I': 16, 'C': [3, 1610409600000]}
{'I': 16, 'C': [4, 1610496000000]}
{'I': 16, 'C': [5, 1610064000000]}
{'I': 16, 'C': [6, 1609977600000]}
{'I': 13, 'C': [7, 1610064000000]}
{'I': 10, 'C': [8, 1610323200000]}
{'I': 12, 'C': [9, 1610582400000]}
{'I': 13, 'C': [10, 1610496000000]}
{'I': 7, 'C': [11, 1610323200000]}
{'I': 5, 'C': [12, 1610064000000]}
{'I': 13, 'C': [13, 1610582400000]}
{'I': 10, 'C': [14, 1610064000000]}
{'I': 10, 'C': [15, 1610496000000]}
{'C': [16, 1609891200000]}
{'I': 5, 'C': [17, 1609977600000]}
{'I': 12, 'C': [18], 'R': 2}
{'I': 8, 'C': [19, 1610409600000]}
{'I': 11, 'C': [20, 1609891200000]}
{'I': 8, 'C': [21, 1610409600000]}
{'I': 13, 'C': [22, 1610323200000]}
{'I': 8, 'C': [23, 1610409600000]}
{'I': 10, 'C': [24, 1610323200000]}
{'I': 10, 'C': [25, 1610409600000]}
{'I': 12, 'C': [26, 1610582400000]}
{'I': 16, 'C': [27, 1610496000000]}
{'I': 1, 'C': [28, 1610064000000]}
{'I': 3, 'C': [29], 'R': 2}
{'I': 1, 'C': [30, 1609718400000]}
{'I': 1, 'C': [31, 1610409600000]}
{'I': 13, 'C': [32, 1610496000000]}
{'I': 10, 'C': [33, 1610409600000]}
{'I': 10, 'C': [34], 'R': 2}
{'I': 13, 'C': [35, 1610064000000]}
{'I': 15, 'C': [36, 1610668800000]}
{'I': 13, 'C': [37, 1610496000000]}
{'I': 13, 'C': [38], 'R': 2}
{'I': 12, 'C': [39, 1610409600000]}
{'I': 10, 'C': [40, 1610323200000]}
{'I': 17, 'C': [41], 'R': 2}
{'I': 8, 'C': [42, 1609977600000]}
{'I': 1, 'C': [43, 1609891200000]}
{'I': 12, 'C': [44, 1610409600000]}
{'I': 2, 'C': [45, 1610064000000]}
{'I': 1, 'C': [46, 1610582400000]}
{'I': 1, 'C': [28, 1609891200000]}
{'I': 1, 'C': [47, 1610582400000]}
{'I': 10, 'C': [48, 1610323200000]}
{'I': 10, 'C': [49, 1610496000000]}
{'I': 9, 'C': [50, 1609977600000]}
{'I': 16, 'C': [51, 1610064000000]}
{'I': 6, 'C': [52, 1610496000000]}
{'I': 16, 'C': [53], 'R': 2}
{'I': 10, 'C': [54, 1610064000000]}
{'I': 13, 'C': [55, 1610409600000]}
{'I': 13, 'C': [56, 1610064000000]}
{'I': 10, 'C': [57, 1610409600000]}
{'I': 10, 'C': [58, 1610323200000]}
{'I': 16, 'C': [59, 1610496000000]}
{'I': 5, 'C': [60, 1609977600000]}
{'I': 16, 'C': [61, 1610323200000]}
{'I': 16, 'C': [62, 1610496000000]}
{'I': 13, 'C': [63, 1610064000000]}
{'I': 14, 'C': [64], 'R': 2}
{'I': 16, 'C': [65], 'R': 2}
{'I': 16, 'C': [66], 'R': 2}
{'I': 16, 'C': [67, 1609977600000]}
{'I': 3, 'C': [68, 1610064000000]}
{'I': 10, 'C': [69, 1610582400000]}
{'I': 10, 'C': [70, 1610409600000]}
{'I': 11, 'C': [71], 'R': 2}
{'I': 11, 'C': [72, 1610496000000]}
{'I': 10, 'C': [73], 'R': 2}
{'I': 10, 'C': [74], 'R': 2}
{'I': 10, 'C': [75, 1610409600000]}
{'I': 4, 'C': [76, 1610582400000]}
{'I': 14, 'C': [77, 1610323200000]}
{'I': 16, 'C': [78, 1610496000000]}
{'I': 7, 'C': [79, 1610582400000]}
{'I': 16, 'C': [80, 1610323200000]}
{'I': 10, 'C': [81], 'R': 2}
{'I': 16, 'C': [82, 1609977600000]}
{'I': 12, 'C': [83, 1610409600000]}
{'I': 16, 'C': [84, 1610064000000]}
{'I': 16, 'C': [85, 1610496000000]}
{'I': 5, 'C': [86, 1610064000000]}
{'I': 12, 'C': [87, 1610323200000]}
{'I': 12, 'C': [88, 1610496000000]}
{'I': 16, 'C': [89], 'R': 2}

In [69]:
matched = [
    (names[name], groupings[business_type], addresses[address], cities[city], timestamp) for name, business_type, address, city, timestamp in locations
]

In [70]:
df = pd.DataFrame(matched, columns=["business_name", "business_type","address","city","timestamp"])

In [71]:
df = df.drop(df.index[0])

In [72]:
df['date'] = pd.to_datetime((df['timestamp']/1000), unit='s')

---

#### Latest

In [73]:
latest = df[df.date == df.date.max()]
latest

,business_name,business_type,address,city,timestamp,date
37,Santa Clara Church,Place of worship,323 South E Street,Oxnard,1610668800000,2021-01-15

---
#### By business type

In [74]:
df.business_type.value_counts()

Food service/restaurant                                              19
Retail space (including grocery stores)                              19
Other manufacturing                                                  13
Other (specify)                                                       9
Agricultural operations                                               7
Bank/financial services                                               4
Factory/manufacturing plant                                           4
Office space/workspace                                                3
Other medical facility                                                2
Animal services (e.g., animal shelter/control, veterinary clinic)     2
Distribution warehouse                                                2
Urgent care center/clinic                                             1
Accommodations (e.g. hotel, hostel, motel)                            1
Food processing/manufacturing (other than meat)                       1
Daycare/Preschool                                                     1
Auto services (e.g., auto repair, gas station, car wash)              1
Place of worship                                                      1
Airline/maritime travel (e.g. flights, cruise ships)                  1
Name: business_type, dtype: int64

---
#### By city

In [75]:
df.city.value_counts()

Oxnard              27
Simi Valley         14
Ventura             14
Thousand Oaks        8
Camarillo            8
Santa Paula          7
Newbury Park         3
Moorpark             3
Fillmore             2
Westlake Village     2
Port Hueneme         2
Ojai                 1
Name: city, dtype: int64

---
#### Thousand Oaks

In [76]:
df[(df.city == "Thousand Oaks")| (df.city == "Newbury Park") | (df.city == "Westlake Village")]

,business_name,business_type,address,city,timestamp,date
14,"Skyworks Solutions, Inc.",Other manufacturing,2421 / 2427 West Hillcrest Drive,Newbury Park,1610582400000,2021-01-14
15,Panda Express N.P.,Food service/restaurant,2690 Teller,Newbury Park,1610064000000,2021-01-08
16,Taco Bell - Newbury Park,Food service/restaurant,791 Wendy Drive,Newbury Park,1610496000000,2021-01-13
68,Target Optical,Retail space (including grocery stores),2705 Teller Rd.,Thousand Oaks,1610064000000,2021-01-08
69,Nordstrom Thousand Oaks,Retail space (including grocery stores),350 West Hillcrest Drive,Thousand Oaks,1609977600000,2021-01-07
70,Conejo Valley Veterinary Hospital,"Animal services (e.g., animal shelter/control,...",3580 Willow Lane,Thousand Oaks,1610064000000,2021-01-08
71,The Cheesecake Factory - Thousand Oaks,Food service/restaurant,442 West Hillcrest Drive,Thousand Oaks,1610582400000,2021-01-14
72,Urbane Cafe - Thousand Oaks,Food service/restaurant,50 Thousand Oaks Boulevard,Thousand Oaks,1610409600000,2021-01-12
73,Michael & Associates Law Firm,Office space/workspace,"555 Saint Charles Drive, Suite 204",Thousand Oaks,1610409600000,2021-01-12
74,"Michael & Associates, PC",Office space/workspace,"555 St. Charles Drive, Suite 204",Thousand Oaks,1610496000000,2021-01-13
75,Little Calf Creamery,Food service/restaurant,652 East Janss Road,Thousand Oaks,1610496000000,2021-01-13
90,"Agoura Sash and Door, Inc.",Other (specify),2301 Townsgate Road,Westlake Village,1610496000000,2021-01-13
91,Trader Joe's - Westlake Village,Retail space (including grocery stores),3835 East Thousand Oaks Boulevard,Westlake Village,1610496000000,2021-01-13

---
#### Export

In [77]:
today = datetime.date.today()

In [78]:
df['download_date'] = today

In [79]:
df = df.drop(['timestamp'],axis=1)

In [80]:
df['date'] = df['date'].dt.strftime('%Y-%m-%d')

In [92]:
df['download_date'] = pd.to_datetime(df['download_date'])

In [94]:
df.to_csv(f'../data/csv/{today}.csv',index=False)

In [95]:
df.to_json(f'../_data/latest.json',orient='records',date_format='iso')